In [120]:
import pandas as pd

In [168]:
# Loading movie, ratings and tags csvs into dataframes.

movies_df = pd.read_csv('Data/ml-latest-small/movies.csv')
ratings_df = pd.read_csv('Data/ml-latest-small/ratings.csv')
tags_df = pd.read_csv('Data/ml-latest-small/tags.csv')

In [90]:
# Calculating average rating by movie.
ratings_df = ratings_df.groupby('movieId')['rating'].mean().round().reset_index()
ratings_df.head()

   movieId  rating
0        1     4.0
1        2     3.0
2        3     3.0
3        4     2.0
4        5     3.0

In [91]:
# Combining all tags based on movie.
tags_df = tags_df.groupby(['movieId'], as_index=False).agg({'tag': '|'.join})

In [92]:
# Merging all three dataframes together.
final_mov_df = movies_df.merge(ratings_df, on='movieId', how='left').merge(tags_df, on='movieId', how='left')
final_mov_df.head()

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar|pixar|fun
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.0,fantasy|magic board game|Robin Williams|game
2,3,Grumpier Old Men (1995),Comedy|Romance,3.0,moldy|old
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.0,NaN
4,5,Father of the Bride Part II (1995),Comedy,3.0,pregnancy|remake

In [164]:
def mov_rec(movie):
    '''function to get 10 movie recommendations.'''
    mov_details_df = final_mov_df[final_mov_df['title'] == movie] 
    
    if not mov_details_df.empty:
        movie_list = []
        
        rating = mov_details_df.rating.values[0]
        tag = mov_details_df.tag.values[0]
        
        if not pd.isna(tag):
            movs_df = final_mov_df[(final_mov_df['title'] != movie) & (final_mov_df['tag'].str.contains(tag, na=False))]
            top10_mov_df = movs_df[movs_df.rating == rating].head(10)
        else:
            top10_mov_df = final_mov_df[(final_mov_df['title'] != movie) & (final_mov_df.rating == rating)].head(10)
        
        movie_list = list(set(top10_mov_df.title))
        
        for movie in movie_list:
            print(movie)

    else:
        print("Couldn't find the movie. Please try giving other name!")

In [167]:
# Giving the movie for recommendation
movie = 'Lone Star (1996)'

# Calling the function for recommendation
mov_rec(movie)

Persuasion (1995)
Eat Drink Man Woman (Yin shi nan nu) (1994)
To Live (Huozhe) (1994)
Cry, the Beloved Country (1995)
Once Were Warriors (1994)
Crumb (1994)
Cold Comfort Farm (1995)
My Left Foot (1989)
When We Were Kings (1996)
Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)

### Explanation:

Before I started to work on the my movie Recommendation system, I started with updating the rating dataframe by calculating average rating for each movie. Next, I combined all tags based on movie and finally merged all three updated dataframes for movie, ratings and tags together.

For my recommendation system, when we are querying or entering a movie name, the function first searches for the tags and ratings of that particular movie and then it fetches the Top 10 rated movies that have the same tags. If the tags do not match, we are providing the Top 10 movies that are matching the rating.